.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   /* 1. 3×3 그리드 */
    grid-template-rows: repeat(3, 150px);
    gap: 15px;
}

.item {
    background-color: burlywood;
    font-size: 48px;
}

.item1 {
 
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(https://cdn.pointe.co.kr/news/photo/202106/3636_10174_4958.jpg);
}